nav{
    flex-direction: column;
}
#nav2{
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
}

#nav2 ul{
    display: flex;
    flex-direction: column;
}

li, p {
    margin: 5px;
}

#nav2 img {
    height: 45px;
}

#box {
    height: 350px;
    width: 500px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
}