nav{
    flex-direction: column;
}
#nav2{
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
}

#nav2 ul{
    display: flex;
    flex-direction: column;
}

li, p {
    margin: 5px;
}