* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
}

nav {
    height: 9vh;
    background-color: rgb(21, 86, 146);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 0px 15px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    height: 20px;
    margin: 0px 10px;
}

.right img {
    height: 20px;
    margin: 0px 10px;
}

.icon {
    filter: invert(1);
}

#nav2 {
    background-color: white;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav2 img {
    height: 65px;
}

#nav2 ul {
    display: flex;
    list-style: none;
    font-family: ;
}

#nav2 ul li {
    padding: 0px 20px;
}

main {
    width: 100%;
    height: 85vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

main::before {
    content: "";
    background: url(/images/web-banner.jpg) no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}



#box {
    height: 450px;
    width: 600px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
}

#box::before {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    border-radius: 10px;
}

.book_btn {
    width: 90%;
    height: 40px;
    border: none;
    background-color: rgb(233, 55, 138);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.Input {
    display: flex;
    flex-wrap: wrap;
}

input {
    height: 40px;
    margin: 10px 15px;
    width: 260px;
    padding: 10px 10px;
}

#number {
    width: 92%;
}

#feedback {
    width: 92%;
}

#afterMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: auto;
    margin-top: 90px;
}

#afterMain h1 {
    padding: 20px;
}

#afterMain p {
    padding: 20px;
}

.photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 99vw;
}

.photos img {
    width: 250px;
    height: 150px;
    margin-top: 10px;
}

.photoBox {
    background-color: rgb(118, 154, 231);
    width: 250px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

.Photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}


#address {
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin-top: 18px;
    align-items: center;
    justify-content: space-evenly;
}

address {
    font-style: normal;
    font-size: 1.5rem;
}

#whatsappIcon {
    width: 40px;
    height: 40px;
    position: sticky;
    left: 97%;
    bottom: 2%;
}

a {
    text-decoration: none;
}